replicaCount: 1

image:
  repository: docker.elastic.co/elasticsearch/elasticsearch
  tag: "8.10.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9200
  name: elasticsearch

# Для разработки отключаем security
env:
  - name: "discovery.type"
    value: "single-node"
  - name: "xpack.security.enabled"
    value: "false"
  - name: "xpack.security.enrollment.enabled"
    value: "false"

resources:
  requests:
    memory: "1Gi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "1000m"

storage:
  enabled: true
  size: 10Gi