<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- Appender для Kafka -->
    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "service": "${appName}",
                        "traceId": "%mdc{traceId}",
                        "spanId": "%mdc{spanId}",
                        "thread": "%thread",
                        "level": "%level",
                        "logger": "%logger",
                        "message": "%message",
                        "exception": "%exception"
                        }
                    </pattern>
                </pattern>
                <mdc/>
                <stackTrace/>
            </providers>
        </encoder>
        <topic>logs</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
        <producerConfig>bootstrap.servers={{ .Values.global.kafka.bootstrapServers | default "kafka.kafka.svc.cluster.local:9092" }}</producerConfig>
    </appender>

    <!-- Appender для консоли -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [traceId=%X{traceId}, spanId=%X{spanId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="KAFKA"/>
    </root>
</configuration>