replicaCount: 1

image:
  repository: prom/prometheus
  tag: "v2.47.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9090
  name: prometheus

# Конфигурация Prometheus
config:
  global:
    scrape_interval: 15s      # Как часто собирать метрики
    evaluation_interval: 15s  # Как часто оценивать правила алертов

  # Файлы с правилами алертов
  rule_files:
    - /etc/prometheus/rules/*.yml

  # Конфигурация сбора метрик
  scrape_configs:
    - job_name: 'prometheus'    # Собираем метрики самого Prometheus
      static_configs:
        - targets: ['localhost:9090']

    - job_name: 'bank-services' # Будет собирать метрики наших микросервисов
      kubernetes_sd_configs:
        - role: endpoints         # Автоматическое обнаружение сервисов в Kubernetes
          namespaces:
            names:
              - bank-dev

resources:
  requests:
    memory: "512Mi"
    cpu: "300m"
  limits:
    memory: "1Gi"
    cpu: "800m"

storage:
  enabled: true
  size: 10Gi