apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.global.namespace }}
spec:
  type: ClusterIP
  ports:
  - port: {{ .Values.global.ports.keycloak }}
    targetPort: {{ .Values.global.ports.keycloak }}
  selector:
    app: {{ .Chart.Name }}
