<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход в систему</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <table style="width:30%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
        <tr>
            <td colspan="2" style="text-align:center;">
                <h2>Вход в систему</h2>
            </td>
        </tr>
        <tr th:if="${param.error}">
            <td colspan="2" style="color:red;">
                Неверный логин или пароль
            </td>
        </tr>
        <tr th:if="${param.logout}">
            <td colspan="2" style="color:green;">
                Вы успешно вышли из системы
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Логин:</td>
            <td>
                <input name="login" type="text" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Пароль:</td>
            <td>
                <input name="password" type="password" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="text-align:right" colspan="2">
                <button type="submit">Войти</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <a href="/signup">Регистрация</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>