replicaCount: 1
persistence:
  enabled: true
  size: 1Gi
zookeeper:
  replicaCount: 1
  persistence:
    enabled: true
    size: 1Gi
auth:
  clientProtocol: plaintext
resources:
  limits:
    memory: "512Mi"
    cpu: "500m"