apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline
  labels:
    app: logstash
data:
  logstash.conf: |
    input {
    {{ .Values.pipeline.input | indent 4 }}
    }
    
    filter {
    {{ .Values.pipeline.filter | indent 4 }}
    }
    
    output {
    {{ .Values.pipeline.output | indent 4 }}
    }