apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.global.namespace }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.global.ports.accountService }}
      targetPort: {{ .Values.global.ports.accountService }}
  selector:
    app: {{ .Chart.Name }}
